html {
  margin:0px;
  padding: 0px;
  overflow-x: hidden;
}
body {
  
  font-family: 'Roboto', sans-serif;
  background-color: #e8e9ea !important;
  margin:0px;
  padding:0px;
  
}



/* Color for all skills  */ 
#pSkills {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;  
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

#h2Skills{
  padding-top: 5px;
  color: #fff;
  font-family: sans-serif, 'Roboto';
  text-align: center;
  font-size: 20px;
}

.sidebar {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width: 288px;
  min-width: 288px;
  max-width: 288px;    
  height: 100%;
  max-height: 100%;
  min-height: 700px;
  background: #252525;
}

.sidebar img {
  width: 288px;
  height: 345px;
  max-width: 288px;
  min-width: 288px;
}
/*skill bar */
.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  left: 10px;
  height: 10px;
  width: 90%;
}
/*skill bar size, % and color */
.progress-value {
  animation: load 2s normal forwards;
  box-shadow: 0 10px 10px -4.5px #fff;
  border-radius: 100px;
  background: #75b800;;
  height: 10px;
  width: 0px;
}

@keyframes load {
  0% { width: 0; }
}


.hiddendiv {
  width: 288px;
  height: 100vh;
  float:left;
}


/* Laptop view */
@media only screen and (max-width: 1600px) {

.hiddendiv {
    min-width: 200px;
    height: 100vh;
    float:left;
}

#pSkills {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;  
  color: #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}

#h2Skills{
  padding-top: 5px;
  color: #fff;
  font-family: sans-serif, 'Roboto';
  text-align: center;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  width: 288px;
  min-width: 288px;
  max-width: 200px;    
  height: 100%;
  max-height: 100%;
  min-height: 700px;
  background: #252525;
}

.sidebar img {
  height: 320px;
  width: 288px;
  max-width: 288px;
  min-width: 288px;
}

.progress {
  background: rgba(255,255,255,0.1);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  display: flex;
  left: 10px;
  height: 5px;
  width: 90%;
}

.progress-value {
  animation: load 2s normal forwards;
  box-shadow: 0 10px 10px -4.5px #fff;
  border-radius: 100px;
  background: #75b800;;
  height: 5px;
  width: 0px;
}

/* End of media query for laptop */
}

/* Area for iconLinks*/
.iconLinks {
  text-align: center;
  width: 100%;
  height: auto;
  margin-top: 30px;
  
}

#fullName{
    font-size: 70px;
    margin-bottom: 15px;
}

/* IconsLinks */
.fab {
  font-size: 40px;
}

.fa-linkedin:hover {
  background-color: #0073a4;
}

.fa-github-square:hover {
  background-color: #5a32a3;
}



.fa-user {
  font-size: 30px;
  margin-bottom: 10px;
}

#aboutmeheadline {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}


.headLines {
  
  text-align: center;
}

.headlines h2 {
  font-size: 30px;
}

#contentP {
  margin:0 auto;
  text-align: left;
  font-size: 20;
  width: 500px;
}


.aboutme-wrapper {
  margin: auto;
  justify-content: center;
  display:grid;
  grid-template-columns: 700px;
  grid-gap: 10px;
  color: #252525;
}

.box-aboutme {
  background-color: #252525;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 130%;
}

.profile-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 5px;
}

.profile-text-container {
  width: 700px;
  height: auto;
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #252525;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
  margin: 20px;
}

.fa-user-graduate {
  font-size: 30px;
  margin-bottom: 10px;
    
}

#Educationheadline {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}

.education-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 5px;
}

.education-text-container {
  width: 500px;
  height: auto;
  max-width: 700px;
  display: flex;
  background-color: #252525;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
  margin: 20px;
  text-align: center;
  font-size: 25px;
}

.fa-briefcase {
  font-size: 30px;
  margin-bottom: 10px;
}

#workheadline {
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  margin-left: 10px;
}

.work-row {
  justify-content: center;
  display: flex;
  flex-direction: row;
  height: auto;
  margin-bottom: 5px;
}

.work-text-container {
  width: 500px;
  height: auto;
  max-width: 700px;
  display: flex;
  background-color: #252525;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 110%;
  margin: 20px;
  text-align: center;
  font-size: 25px;
}













